﻿@model WebApplication.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send";
}

<div class="row">
    <div class="col-md-4">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Send verification code</h3>
            </div>
            @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("rememberMe", @Model.RememberMe)
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            Select Two-Factor Authentication Provider:
                            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/AdminLTE/plugins/jquery-validate/js/jquery.validate.min.js"></script>
    <script src="~/AdminLTE/plugins/jquery-validate/js/jquery.validate.unobtrusive.min.js"></script>
}